#title {
  width: 100%;
}
body {
  margin: 0 auto;
}
#main {
  background-image: url("https://i.ibb.co/v4YdzgX/Screen-Shot-2022-05-14-at-8-17-02-PM.png");
  height: 600px;
  margin-top: -3%;
}

#imgCase {
  margin-left: 30%;
}
.button {
  width: 20%;
  height: 20%;
  border-radius: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

#rightButton {
  margin-left: 20%;
}

h1 {
  text-align: center;
  padding-top: 40px;
}
#quiz {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  color: black;
}
#answer {
  margin-left: 48%;
  margin-top: 20px;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-weight: bold;
}

.special {
  margin-left: 43%;
  width: 15%;
  border-radius: 10%;
}
#discription {
  margin-top: -2%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
